@font-face {
  font-family: Muara;
  src: url(./muara.ttf);
}

/* Styles *exclusively* for the spatial history assignment */

.main-container {
    grid-template-areas: "intro map legend" "main main main";
    grid-auto-columns: 5fr 6fr 4fr;
}

section#intro {
    grid-area: intro;
    background-color: #dce6de;
    border: 1px solid #809c85;
    padding: 26px 30px;
}

#test h1 {
    font-family: "Muara";
    font-size: 46px;
    line-height: 40px;
    margin: 4px 0px 12px 0px;
    display: flex;
}

#test p {
    font-size: 15px;
    line-height: 20px;
}


section#map_canvas {
    grid-area: map;
    background-color: var(--color-highlight2);
    border: 1px solid black;
}

section#legend {
    padding: 26px 30px;
    grid-area: legend;
    background: #f2eee6;
    border: 1px solid #cc916e;
}

#legend {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#legend .row {
    display: flex;
    align-items: center;
    margin: 0px;
}

#legend-label {
    margin-bottom: 0px;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 500;
}

#legend .row h1 {
    font-family: "Muara";
    font-size: 46px;
    line-height: 40px;
    margin: 4px 0px;
    display: flex;
    align-items: center;
}

section#maintext {
    grid-area: main;
    background-color: #e4e4f0;
    border: 1px solid #8f8fb3;
    padding: 26px 30px;
}

#maintext h1 {
    font-family: "Muara";
    font-size: 46px;
    line-height: 40px;
    margin: 4px 0px 12px 0px;
}

#maintext p {
    font-size: 15px;
    line-height: 20px;
}

/* we use an extra div here to allow the "legend" text to sit by itself */
/* arrange the legend elements using flexbox (just for fun) */
div#map_legend {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
}

div#map_legend div.pointer {
    width: 152px;
    background: #F76B1C;
    padding: 0px 8px;
    margin-bottom: 5px;
    margin-right: 6px;
    border-radius: 4px;
    /* flex-basis: 500px; */
    cursor:pointer;
    transition: 0.1s;
    box-shadow: 0px 2px 5px -4px rgba(0,0,0,0.5);
}

div#map_legend div.pointer:hover {
    transform: translateY(-2px);
    transition: 0.1s;
}

div.pointer h1 {
    font-size: 1.5em;
    image
}

div.pointer img {
    max-width: 250px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

/* Leaflet Popups crate 2 divs each: div.leaflet-popup-content-wrapper and
   div.leaflet-popup-content. You can ddress them as you like.*/
div.leaflet-popup-content-wrapper {
    border-radius: 6px;
    padding: 4px 10px;
}

div.leaflet-popup-content {
    margin: 10px 16px;
}

.leaflet-popup-content h2 {
    margin: 0px;
}

div.leaflet-popup-content img {
}

@media only screen and (max-width:1200px) {
    .main-container {
        grid-template-areas: "intro intro" "map legend" "main main";
        grid-auto-columns: 8fr 4fr;
    }
}

@media only screen and (max-width:600px) {
    .main-container {
        grid-template-areas: "intro" "map" "legend" "main";
    }
}


/* @media all and (max-width: 75em) { */
/*     .newcontainer { */
/*         grid-template-areas: "intro intro" "map legend" "main main"; */
/*     } */
/*     #markdown-toc { */
/*         position: static; */
/*         padding: 0; */
/*         background: none; */
/*     }  */
/* } */




/* if you want, you can make the text in the legend less ugly by adding
extra css instructions here, or adding classes when you create the
legneds in javascript. Advisable! */

div#map_legend h1 {
}

div#map_legend h3 {

}


/*just for fun, we can style the buttons using classes
  button.rounded means "all buttons with the class of
  rounded".  button#hide meands "the button with the
  id of hide"
*/
button.rounded {
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}
button#hide {
  background:orange;
}
button#reset {
    color: white;
    background: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
    margin: 10px 0px;
}

#reset:hover {
    background: linear-gradient(90deg, #FFE53B 0%, #FF2525 74%);
    opacity: 1!important;
}

/* use these last few to style the text inside the
   infowindows.  They are pretty ugly at the moment,
   consider making them prettier.

*/

div#map_canvas h1 {

}

div.address  {

}

div.description {

}

div.gm-style-iw {
    max-height: 75px;
}
div.gm-style-iw img {
    max-width: 75% !important;
}

div.gm-style-iw blockquote {
    font-family:cursive;
}
